<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add-post" method="POST">
        <input type="text" name="post" placeholder="Write your post here" required>
        <button type="submit">Submit</button>
    </form>
    <h1>Post:<%for(let j=posts.length-1;j>=0;j--){%>
        <ul>
            <li><%=posts[j].content %></li>
            <form action="/delete-post" method="POST">
                <input type="hidden" name="postId" value="<%= posts[j].id%>">
                <button type="submit">Delete</button>
            </form>
            <form action="/update-post" method="POST">
                <input type="hidden" name="updatepostId" value="<%= posts[j].id%>">
                <button type="submit">Update</button>
            </form>

                
            
            
        </ul>
    <% } %>
</h1>
    

</body>
</html>