<%- include("partials/header.ejs") %>
    <form action="/add-post" method="POST" class="updateform">
        <input type="text" name="post" placeholder="Write your updated post..." required>
        <button type="submit" class="btn">update post</button>
        


    </form>
    
<%- include("partials/footer.ejs") %>

    
